<% provide :title, @place.name %>
<div class="row">
  <div>
    <label><%= t "place.name" %></label>
    <%= @place.name %>
  </div>
  <div>
    <label><%= t "place.description" %></label>
    <%= @place.description %>
  </div>
</div>

