<!-- footer-section-starts -->
<div class="footer">
  <div class="copy-rights text-center">
    <p>&copy; 2016 Make awesome tour by <a href="http://google.com" target="target_blank">My Tour</a></p>
  </div>
</div>
<!-- footer-section-ends -->
